<div class="container-yellow" id="tertiaryNav">
	<div class="container text-center">
      	<div class="container">
			<ul class="nav navbar-nav">
				<li role="presentation"><a href="#services">Services</a></li>
				<li role="presentation"><a href="#warranty">Warranty</a></li>
				<li role="presentation"><a href="#inventory">Inventory</a></li>
				<li role="presentation"><a href="#liability">Liability</a></li>
				<li role="presentation"><a href="#liability">User Content</a></li>
			</ul>
		</div>
	</div>
</div>

<!-- Store link -->
<div class="image-background" id="the_policies">
	<div class="container">
		<div class="row row-centered text-center">
			<h1 class="inverse">Our Policies</h1>
			<p class="intro inverse">At JC Auto Restoration, Inc. we strive to serve each customer to the best of our abilities. In order to ensure the best customer experience, and to allow us to continue to serve you, we have established policies to guide our services, inventory, and customer care practices.</p>
		</div>
	</div>
</div>

<!-- Contact -->
<div class="container">
	<div class="row">
		<div class="col-md-12 mobile-left">
			<a name="services"></a>
			<h3>Services</h3>
			<p>
				<strong>Inspection:</strong> Each agreement to service begins with an inspection and evaluation of the components to be serviced. Customers are responsible for shipping all content to JC Auto Restoration, however they are not charged for the time it takes to complete this inspection. Following the inspection a quote, which includes estimated parts and labor costs, will be delivered to the customer. If the customer agrees to this quote, work will begin on a first-come first-served basis, where other jobs may take precedence if they arrived earlier. If the customer chooses not to proceed with services, they are responsible for covering the cost of shipping to return all components.  
			</p>
			<p>
				<strong>Estimates:</strong> For the quote, most parts needed will be assigned a flat fee based on market value. Standard services (available on our <%= link_to "services", "/our-services", style: "font-weight: 500" %> page) will be added as needed and priced as specified on our <%= link_to "services", "/our-services", style: "font-weight: 500" %> page. If there is no flat rate specified for a service required, hours will be estimated based on statistics from previous projects, and all labor will be billed at $95 per hour. Although we strive to be as accurate as possible when determining hours, the final time spent on a project could be more or less than quoted due to factors that cannot be identified upon initial inspection. If that is the case, and it is anticipated that more hours will be required than initially quoted, the customer will be contacted for a decision on how to proceed.
			</p>
			<p>
				<strong>Rebuilding Parts:</strong> When rebuilding parts, we require all MoPar parts and will not service any aftermarket components.
			</p>
			<p>
				<strong>Shipping:</strong> The customer is required to pay all shipping costs to and from the shop. The only exemptions to this rule are any components that must be returned under warranty, in which case JC Auto Restoration can be contacted to arrange shipping. JC Auto Restoration, Inc. is not responsible for any loss or damage sustained during shipping or customs inspections (applicable to international orders).
			</p>
			<p>
				<strong>Timing:</strong> Turn around times cannot be guaranteed and depend on the availability of parts and labor. Services will be performed on a first-come first-served basis. All services requiring Core Parts may take longer to allow for time to find and determine the quality of core components.
			</p>
			<p>
				<strong>Core Parts:</strong> Core charges include the part alone and do not include the labor required to restore the part. The additional charge will be included in the initial inspection and estimate.
			</p>

			<a name="warranty"></a>
			<h3>Warranty</h3>
			<p>
				All rebuilt parts have a one-year warranty from date of shipment or pick up. The part must remain undisturbed for the warranty to be valid. Any damage obtained due to user error upon installation will void the warranty. For more information on handling, installing, and removing parts please see our <%= link_to "How to Guide", "/our-services#how", style: "font-weight: 500" %> on the services page.
			</p>

			<a name="inventory"></a>
			<h3>Inventory</h3>
			<p>
				<strong>Prices:</strong> We try to maintain accurate prices for each product in our online store. However, given the number of parts we keep in stock, prices will not always be accurate and may change at any time based on market value and supply/demand. All prices listed on the website for parts and services are subject to change. 
			</p>
			<p>	
				<strong>Returns:</strong> Returns are accepted up to one month on parts purchased from JC Auto Restoration, Inc. The customer is responsible for paying the cost of shipping for all returns. Returns of 5 parts or more will be subject to a 10% restocking fee.
			</p>

			<a name="liability"></a>
			<h3>Liability</h3>
			<p>
				JC Auto is not liable in any way for damages, loss, injury, or other claims, resulting from the use of, misuse of, or inability to use any of our products. Buyer assumes liability of any kind connected with the use or application of our products.
			</p>

			<a name="user"></a>
			<h3>User Generated Content</h3>
			<p>These content standards apply to any and all material which you contribute to the Site ("Contributions"), and to any Interactive Services associated with it. You must comply with the spirit of the following standards as well as the letter. The standards apply to each part of any Contribution as well as to its whole.</p>
			<p>Contributions must:</p>
			<ul>
				<li>be accurate (where they state facts)</li>
				<li>be genuinely held (where they state opinions)</li>
				<li>comply with applicable laws in the US and in any country from which the contributions are posted</li>
			</ul>
			<p>Contributions must not:</p>
			<ul>
				<li>contain any material which is defamatory</li>
				<li>contain any material which is obscene, offensive, hateful or inflammatory</li>
				<li>promote sexually explicit material</li>
				<li>promote violence</li>
				<li>promote discrimination based on race, sex, religion, nationality, disability, sexual orientation or age</li>
				<li>infringe on any copyright, database right or trade mark of any other person</li>
				<li>be likely to deceive any person</li>
				<li>be made in breach of any legal duty owed to a third party, such as a contractual duty or a duty of confidence</li>
				<li>promote any illegal activity</li>
				<li>be threatening, abuse or invade another's privacy, or cause annoyance, inconvenience or needless anxiety</li>
				<li>be likely to harass, upset, embarrass, alarm or annoy any other person</li>
				<li>be used to impersonate any person, or to misrepresent your identity or affiliation with any person</li>
				<li>give the impression that they emanate from us, if this is not the case</li>
				<li>advocate, promote or assist any unlawful act such as (by way of example only) copyright infringement or computer misuse</li>
			</ul>

			<a name="property"></a>
			<h3>Intellectual Property Rights</h3>
			<p>We are the owner or the licensee of all intellectual property rights in the Site, and in the material published on it.  Those works are protected by copyright laws and treaties around the world. All such rights are reserved.</p>
			<p>You may print off one copy, and may download extracts, of any page(s) from the Site for your personal reference and you may draw the attention of others within your organisation to material posted on the Site.</p>
			<p>You must not modify the paper or digital copies of any materials you have printed off or downloaded in any way, and you must not use any illustrations, photographs, video or audio sequences or any graphics separately from any accompanying text.</p>
			<p>Our status (and that of any identified contributors) as the authors of material on the Site must always be acknowledged.</p>
			<p>You must not use any part of the materials on the Site for commercial purposes without obtaining a licence to do so from us or our licensors.</p>
			<p>If you print off, copy or download any part of the Site in breach of these terms of use, your right to use the Site will cease immediately and you must, at our option, return or destroy any copies of the materials you have made.</p>
		</div>
	</div>
</div>