<div class="container-yellow" id="tertiaryNav">
	<div class="container text-center">
      	<div class="container">
			<ul class="nav navbar-nav">
				<li role="presentation"><a href="#info">Information Collection</a></li>
				<li role="presentation"><a href="#user">User Control</a></li>
				<li role="presentation"><a href="#security">Security</a></li>
				<li role="presentation"><a href="#updates">Updates</a></li>
			</ul>
		</div>
	</div>
</div>

<!-- Store link -->
<div class="image-background" id="the_policies">
	<div class="container">
		<div class="row row-centered text-center">
			<h1 class="inverse">Privacy Policy</h1>
			<p class="intro inverse">This privacy policy discloses the privacy practices for jcauto.com. This privacy policy applies solely to information collected by this web site.</p>
		</div>
	</div>
</div>

<!-- Contact -->
<div class="container">
	<div class="row">
		<div class="col-md-12 mobile-left">
			<h5>Introduction</h5>
			<p>
				This policy will notify you of the following:
				<ul>
				    <li>What personally identifiable information is collected from you through the web site, how it is used and with whom it may be shared.</li>
				    <li>What choices are available to you regarding the use of your data.</li>
				    <li>The security procedures in place to protect the misuse of your information.</li>
				    <li>How you can correct any inaccuracies in the information.</li>
				</ul>
			</p>

			<a name="info"></a>
			<h5>Information Collection, Use, and Sharing</h5>
			<p>
				We are the sole owners of the information collected on this site. We only have access to/collect information that you voluntarily give us via email or other direct contact from you. We will not sell or rent this information to anyone.
			</p>
			<p>
				We will use your information to respond to you, regarding the reason you contacted us. We will not share your information with any third party outside of our organization, other than as necessary to fulfill your request, e.g. to ship an order.
			</p>
			<p>
				Unless you ask us not to, we may contact you via email in the future to tell you about specials, new products or services, or changes to this privacy policy.
			</p>

			<a name="user"></a>
			<h5>Your Access to and Control Over Information</h5>
			<p>
				You may opt out of any future contacts from us at any time. You can do the following at any time by contacting us via the email address or phone number given on our website:
				<ul>
				   	<li>See what data we have about you, if any.</li>
					<li>Change/correct any data we have about you.</li>
					<li>Have us delete any data we have about you.</li>
					<li>Express any concern you have about our use of your data.</li>
				</ul>
			</p>

			<a name="security"></a>
			<h5>Security</h5>
			<p>
				We take precautions to protect your information. When you submit sensitive information via the website, your information is protected both online and offline.
			</p>
			<p>	
				Wherever we collect sensitive information (such as credit card data), that information is encrypted and transmitted to us in a secure way. All credit card data is collected through PayPal, which is a licensee of the <%= link_to "TRUSTe Web Privacy Program", "https://privacy.truste.com/privacy-seal/PayPal/validation?rid=29e80c36-8b02-499f-b02a-5a2f638e0a36", style: "font-weight: 500" %>.
			</p>
			<p>
				While we use encryption to protect sensitive information transmitted online, we also protect your information offline. Only employees who need the information to perform a specific job (for example, billing or customer service) are granted access to personally identifiable information. The computers/servers in which we store personally identifiable information are kept in a secure environment.
			</p>

			<a name="updates"></a>
			<h5>Updates</h5>
			<p>
				Our Privacy Policy may change from time to time and all updates will be posted on this page.
			</p>
			<p>
				If you feel that we are not abiding by this privacy policy, you should contact us immediately via telephone at 425.672.8324 or via email (see our <%= link_to "contact page", "/contact" %>).
			</p>
		</div>
	</div>
</div>