<div class="container-yellow" id="tertiaryNav">
	<div class="container text-center">
      	<div class="container">
			<ul class="nav navbar-nav">
				<li role="presentation"><a href="#quote">Get a Quote</a></li>
				<li role="presentation"><a href="#browse">Browse Services</a></li>
				<li role="presentation"><a href="#how">How to Guide</a></li>
			</ul>
		</div>
	</div>
</div>

<!-- Contact -->
<a name="quote"></a>
<div class="container">
	<div class="row row-centered">
		<h1>Get a Quote</h1>
		<p class="intro">Tell us about your project and the work you'd like done. We'll be in touch soon to discuss pricing.</p>
	</div>
</div>