<div class="container">
	<div class="row">
		<h2>Edit Customer</h2>
	</div>
	<div class="row">
		<div id="content" class="col-md-12" style="margin-top: 25px">
			<%= flash_messages %>
		</div>
		<%= render "form" %>
	</div>
</div>