<!--What a summer-->
<div class = 'container'>
	<div class = 'row'>
		<div class="col-md-8 text-center">
			<h2 align="center">Shop Images</h2>

		<% if spree_current_user && (spree_current_user.has_spree_role? "admin") %>
			<%= link_to "Edit Shop Pics", admin_shop_images_path, class: "btn btn-success admin-button" %>
		<% end %>
		</div>
	</div>
	
</div>