<div class="container">
	<div class="row">
		<div class="col-md-4">
			<%= image_tag "master/blog.png", class: "icon" %>
		</div>
		<div class="col-md-8">
			<h3>Oops! Can't find page</h3>
			<p>The page you were looking for does not exist or has been moved.</p>
			<h5>Questions?</h5>
			<%= link_to contact_path, class: "btn btn-primary" do %>contact us<% end %>
		</div>
	</div>
</div>